.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr)); /* Usando auto-fit para ajustar automaticamente o número de colunas */
  justify-content: start;
  gap: 15px;
  align-items: start;
  max-width: 70vw;
  min-width: 500px;
  height: 35vh;
  max-height: 340px;
  width: 80vw;
  margin-top: 50px;
  box-sizing: border-box;
}
.container section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 180px) {
  .container {
    overflow-y: scroll;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1084px) {
  .container {
    overflow-y: scroll;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1084px) {
    .container {
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    .container {
        /* grid-template-columns: repeat(300px, minmax(30px, 1fr));  */
        overflow-y: scroll;
        padding-bottom: 10px;
      }
  }

  @media screen and (max-width: 500px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      min-width: 200px;
      max-height: 340px;
      width: 100vw;
  }
  }