.container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.modal {
    position: relative;
    width: 50vw;
    height: 40vw;
    border-radius: 10px;
    background-color: rgb(245, 238, 229);
    box-shadow: 10px 8px 10px 3px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}


@media screen and (max-width: 700px) {
.modal {
    width: 80vw;
    height: 80vh;
}
}