.main {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}
.main h1 {
margin-top: 30%;
}

.main h2 {
  margin-bottom: 20%;
  }