.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.homeTitle {
  text-align: center;
}
.homeTitle h1 {
  margin-top: 30%;

}
.homeTitle h2 {
  margin-bottom: 40%;
}